/* ==========================================================================
    Root Variables
   ========================================================================== */

:root {
  --white: #FFFFFF;
  --owhite: rgba(255, 255, 255, 0.5);
  --black: #232323;
  --red: #92020C;
  --yellow: #FDAA03;
  --grey: #EBEBEB;
  --beige: #FAF6ED;
}

/* ==========================================================================
    Fonts
   ========================================================================== */

@font-face {
  font-family: antique;
  src: url(../assets/fonts/antiquestories.otf);
}


@font-face {
  font-family: avenir-next;
  src: url(../assets/fonts/Metropolis-Regular.otf);
}

/* ==========================================================================
    Tags
   ========================================================================== */


html,
body {
  margin: 0;
  padding: 0;
  font-family: avenir-next;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: antique;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: avenir-next;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: avenir-next;
}

p {
  margin: 0;
  padding: 0;
  font-family: avenir-next;
}

li {
  font-family: avenir-next;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a:visited {
  color: var(--black);
  text-decoration: none;
}

button {
  font-family: avenir-next;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: white inset !important;
  /* Or your desired color */
}

#root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* ==========================================================================
    Components
   ========================================================================== */

/* Flight Search Form */
.flight-search-container {
  width: 45vw;
  height: 60vh;
  background-color: var(--owhite);
}

.flight-search-container img {
  width: 5%;
  margin: 0;
  padding: 0;
}

.flight-search-container .custom-input {
  margin: 0;
  padding: 0;
  width: 35%;
  height: 55%;
  /* border: 0.5px solid var(--black); */
  background-color: var(--owhite);
}

.flight-search-container .custom-input>div:nth-child(3) {
  width: 100%;
  height: 100%;
}


.flight-search-container input[type="radio"] {
  color: var(--red);
}

.flight-search-container input[type="submit"] {
  background-color: var(--red);
  color: var(--white);
  width: 40%;
  height: 35%;
  border: none;
  font-size: 1.1em;
}

.flight-search-container input[type="submit"]:hover {
  cursor: pointer;
}

.flight-search-container h2 {
  margin-left: 15px;
}

.flight-search-header {
  width: 100%;
  height: 10%;
  background-color: var(--red);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flight-search-inputs {
  width: 95%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5vh;
}

.flight-search-input {
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15%;
}

.flight-search-input:first-child {
  gap: 5%;
}

.flight-search-submit {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}


.flight-search-radio {
  width: 40%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20%;
}


/* ==========================================================================
   Navigation
   ========================================================================== */

nav {
  width: 100vw;
  height: 10vh;
  position: absolute;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: center;
  align-items: center;
  overflow: hidden;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

nav ul li {
  text-decoration: none;
}

img {
  width: 12.5%;
  margin-left: 5vw;
}

nav ul:first-child {
  margin-left: 15vw;
  ;
}

nav ul:last-child {
  margin-left: 30vw;
  ;
}

/* ==========================================================================
    Homepage
   ========================================================================== */

.home-page {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('../assets/images/home/temp.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10vw;
  background-color: #FFFFFF;
}

/* ==========================================================================
    Selection page
   ========================================================================== */

.selection-page {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-image: url('../assets/images/home/home_background.webp'); */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background-color: var(--beige);
}

.selection-flight-selected {
  width: 100vw;
  height: 7.5vh;
  display: flex;
  flex-direction: row;
  background-color: var(--beige);
  margin-top: 12vh;
  opacity: 0.95;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  align-items: center;
  justify-content: center;
  gap: 2vw
}

.selection-flight-expand {
  width: 10vh;
  text-align: center;
}

.selection-flight-expand img {
  width: 20%;
  margin: 0;
}

.selection-flight-depart {
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5vw;
}

.selection-flight-depart>p {
  font-weight: 800;
}

.selection-flight-return {
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5vw;
}

.selection-flight-return>p {
  font-weight: 800;
}

.selection-flight-submit {
  width: 10vw;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.selection-flight-submit button {
  width: 90%;
  height: 60%;
  border: none;
  background-color: var(--red);
  border-radius: 5px;
  color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.selection-flight-submit button:hover {
  cursor: pointer;
}

.selection-option {
  width: 70%;
  height: 60%;
  border-radius: 10px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.selection-flight-options {
  height: 90vh;
  width: 100vw;
  background-color: white;
  display: block;
  overflow: scroll;
  text-align: left;
  background-color: var(--beige);
}

.selection-flight-options>h2 {
  margin-top: 10vh;
  margin-left: 10vw;
}


.flight-option {
  width: 80%;
  height: 30vh;
  background-color: var(--owhite);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin-left: 10vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.flight-option-details {
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.flight-option-timeline {
  width: 35%;
  height: 80%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;

}

.timeline {
  width: 90%;
  height: 20%;
  background-color: transparent;
  border-bottom: 2px solid black;
  text-align: center;
}

.timeline h2 {
  margin: 0px;
}

.flight-option-book {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flight-option-class {
  width: 100%;
  height: 35%;
}

.flight-option-class button {
  width: 100%;
  height: 100%;
  background-color: var(--red);
  color: var(--white);
  border: 1px solid;
  border-top-right-radius: 20px;
  font-size: 1.1em;
}

.flight-option-class button:hover {
  cursor: pointer;
}

.flight-option-price {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* ==========================================================================
    Passenger Details
   ========================================================================== */
.passenger-details {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-image: url('../assets/images/home/home_background.webp'); */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--beige);
}

.passenger-details-wrapper {
  width: 100%;
  height: 80vh;
  display: block;
  overflow: scroll;
}

.passenger-details h1 {
  margin-top: 1vh;
  margin-left: 2.5vw;
}

.passenger-form-wrapper {
  width: 80%;
  height: 40vh;
  margin-left: 10%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.9;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.passenger-form {
  width: 100%;
  height: 80%;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}

.passenger-form-details {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3.5vh;
  padding-top: 2vh;
}

.passenger-form-select {
  width: 50%;
}

.passenger-form-field {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vh;
}

.passenger-form-field input {
  height: 90%;
  width: 60%;
  font-family: avenir-next;
  border: 0.5px grey solid;
  border-radius: 5px;
  padding-left: 5px;
}

.passenger-form-field input:focus {
  border: var(--red) 0.5px solid;
}

.passenger-details-submit {
  width: 100%;
  height: 7.5vh;
  margin-top: 12.5vh;

}

.passenger-details-submit button {
  width: 10%;
  height: 60%;
  float: right;
  border: none;
  background-color: var(--red);
  border-radius: 5px;
  color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-right: 10vw;
}

.passenger-details-submit button:hover {
  cursor: pointer;
}



/* ==========================================================================
    Seat Selection
   ========================================================================== */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.plane-seat-selection {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--beige);
}

.plane-seat-header {
  margin-top: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
}

.plane-seat-header button {
  width: 10%;
  height: 60%;
  float: right;
  border: none;
  background-color: var(--red);
  border-radius: 5px;
  color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-right: 10vw;
}

.plane-seat-header button:hover {
  cursor: pointer;
}

.plane-container {
  height: 85vh;
  width: 100%;
  overflow: scroll;
}

.plane {
  margin: 20px auto;
  width: 40%;
  max-width: 100%;
}

.plane-large {
  width: 45%;
}

.cockpit {
  height: 40vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-bottom: 5px solid #d8d8d8;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 80vh;
    width: 100%;
    border-radius: 50%;
    border-right: 5px solid #d8d8d8;
    border-left: 5px solid #d8d8d8;
  }

  h1 {
    width: 60%;
    margin: 100px auto 35px auto;
  }
}

.exit {
  position: relative;
  height: 10vh;

  &:before,
  &:after {
    content: "EXIT";
    font-size: 14px;
    line-height: 18px;
    padding: 0px 2px;
    font-family: "Arial Narrow", Arial, sans-serif;
    display: block;
    position: absolute;
    background: green;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}

.fuselage {
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}


.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.seat {
  display: flex;
  flex: 0 0 10%;
  padding: 5px;
  position: relative;

  &:nth-child(3) {
    margin-right: 25%;
  }

  input[type=checkbox] {
    position: absolute;
    opacity: 0;
  }

  input[type=checkbox]:checked {
    +label {
      background: #688212;
      -webkit-animation-name: rubberBand;
      animation-name: rubberBand;
      animation-duration: 300ms;
      animation-fill-mode: both;
    }
  }

  input[type=checkbox]:disabled {
    +label {
      background: #dddddd;
      text-indent: -9999px;
      overflow: hidden;

      &:after {
        content: "X";
        text-indent: 0;
        position: absolute;
        top: 4px;
        left: 50%;
        transform: translate(-50%, 0%);
      }

      &:hover {
        box-shadow: none;
        cursor: not-allowed;
      }
    }
  }


  label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 0;
    background: var(--red);
    color: white;
    border-radius: 5px;
    animation-duration: 300ms;
    animation-fill-mode: both;

    &:before {
      content: "";
      position: absolute;
      width: 75%;
      height: 75%;
      top: 1px;
      left: 50%;
      transform: translate(-50%, 0%);
      background: rgba(249, 200, 200, 0.4);
      border-radius: 3px;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0px 2px #5C6AFF;
    }

  }
}

.seat-large {
  &:nth-child(3) {
    margin-right: 5% !important;
  }

  &:nth-child(6) {
    margin-right: 5%;
  }

  label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.8rem;
    padding: 5px 0;
    color: white;
    background: var(--red);
    border-radius: 5px;
    animation-duration: 300ms;
    animation-fill-mode: both;

    &:before {
      content: "";
      position: absolute;
      width: 75%;
      height: 75%;
      top: 1px;
      left: 50%;
      transform: translate(-50%, 0%);
      background: rgba(249, 200, 200, 0.4);
      border-radius: 3px;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0px 2px #5C6AFF;
    }

  }
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}


/* ==========================================================================
   Payment Page
   ========================================================================== */
.booking-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--beige);
}

.booking-container {
  width: 70%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itinerary-breakdown {
  width: 35%;
  height: 100%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5%;
  background-color: var(--red);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding-left: 5%;
}


.itinerary-details {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.booking-payment {
  width: 60%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5%;
  padding-left: 5%;
  background-color: var(--white);
  border-radius: 30px;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.payment-slider-container {
  width: 90%;
  height: 20%;
}

.payment-slider {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.payment-slider input[type="range"] {
  width: 80%; 
  height: 20%; 
  background-color: var(--red); 
  border-radius: 5px; 
}

/* .payment-slider input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--red); 
} */

/* .payment-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  background-color: var(--red); 
  border-radius: 50%;
} */ 

.payment-options {
  width: 90%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.payment-checkout {
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.payment-checkout button{
  height: 95%;
  width: 30%;
  background-color: var(--red);
  border-radius: 15px;
  border: none;
  color: var(--white);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.payment-checkout button:hover{
  cursor: pointer;
}


/* ==========================================================================
   Success Page
   ========================================================================== */
   .success-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--beige);
  }