.options {
    display: flex;
}

.flight-option {
    border: 2px solid black;
    width: fit-content;
    margin: 10px;
    cursor: pointer;
}

.accommodation-option {
    border: 2px solid black;
    width: fit-content;
    margin: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}